@import "tailwindcss";


:root {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 /* background-image: url("../src/assets/background.jpg");
 background-size: cover;
 background-position: center; */
}

